body {
  font-family: 'lato', sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

code {
  font-family: Monaco, monospace;
  line-height: 100%;
  padding: 0.2em;
  letter-spacing: -0.05em;
  word-break: normal;
}

pre {
  background-color: #d1d1d0;
  overflow: auto;
  font-family: 'Monaco', monospace;
  padding: 0 1em;
}
